.button {
  padding: 10px;
  font-size: 1.25em;
  font-family: Brown;
  margin-right: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 3px;
  border-color: #000;
  border-radius: 10px;
  background-color: #ebebeb;
}

.button:hover {
  cursor: pointer;
  transform: translateY(2%);
  color: #fff;
  background-color: #000;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.36, 1);
}
