.brownFontText {
  font-family: "Brown", sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 4em;
}

.main {
  min-height: 100vh;
}

.main::before {
  content: "";
  background-image: url("../public/landing-background.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0.5;
  background-position: 65% 50%;
}

.title {
}

.description {
}

.buttons {
}
